.header{
    width:100%;
    height:auto;
}
.search-input{
    display: flex;
    border: 1px solid gray;
    margin-left: 130px;
    border-radius: 20px;
    padding:5px;
    margin-top: 10px;
    width:260px;
}
input{
    outline: none;
    border-color: transparent;
    margin-left: 50px;
}
.form{
    margin-left: 30px;
}
.tools{
    display: flex;   
}
MenuItem:hover{
    background-color: rgb(120, 154, 184);
    color:black;
    cursor:pointer;

}
.chat{
    margin-left: 40px;
}
.Admin{
    margin-left: 10px;
} 

option{
    text-align: center;
    text-decoration: none;

}
option:hover{
    background-color: rgb(120, 154, 184);
    color:black;
    cursor:pointer;
    height:30px;
    text-align: center;
}


